{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SERCA</title>
    <!-- Stylesheet -->
    <link href="{% static 'home.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
    <style>
    	html{
    		  animation: rainbow 8s ease infinite;
			  background-image: linear-gradient(124deg, #ff470f, #ff3860, #b86bff, #3273dc);
			  background-size: 800% 800%;
			}
		body{
    		font-family: "Product Sans";
    	}
		.title{
			color:#ffffff;
		}
		.subtitle{
			color:#ffffff;
		}
	</style>
  </head>
  <body>
  	<div id="particles-js"></div>
	<section class="hero is-black is-bold">
		<div class="hero-body">
			<div class="container">
				<a href="/"><i class="chevron" data-feather="home"></i></a>
				<h1 class="title">
					<span class="typeit"></span>
				</h1>
				<h2 class="subtitle">
				codenamed <b>SERCA</b> <i data-feather="cpu"></i>
				</h2>
			</div>
		</div>
	</section>

	<br>

	<div class="columns">
     	<div class="column is-half is-offset-one-quarter">
     		<h1 class="title">Biographical details</h1>
     		<div class="box">
     			<form method="post" action="/graph/">
     				{% csrf_token %}
     			<div class="field">
				  <label class="label">Your name</label>
				  <div class="control">
				    <input class="input" type="text" name="name">
				  </div>
				  <p class="help">This is only for reference, your identity will be reported as anonymous</p>
				</div>

				<div class="field is-grouped is-grouped-centered">
	     			<div class="field">
					  <label class="label">Location</label>
					  <div class="control">
					    <input class="input" type="text">
					  </div>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="field">
					  <label class="label">Annual Income</label>
					  <div class="control">
					    <input class="input" type="text">
					  </div>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="field">
					  <label class="label">No. of occupants</label>
					  <div class="control">
					    <input class="input" type="text">
					  </div>
					</div>
				</div>

				<div class="field is-grouped is-grouped-centered">
	     			<div class="field">
					  <label class="label">Electricity expense</label>
					  <div class="control">
					    <input class="input" type="text">
					  </div>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="field">
					  <label class="label">Water expense</label>
					  <div class="control">
					    <input class="input" type="text">
					  </div>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="field">
					  <label class="label">Source of electricity</label>
					  <p class="control">
					    <span class="select is-fullwidth">
					      <select>
					        <option selected>US Average ($0.12/KWh)</option>
					        <option>Solar</option>
					        <option>Not sure</option>
					      </select>
					    </span>
					  </p>
					</div>
				</div>

     		</div>

     		<h1 class="title">House structure</h1>
     		<div class="box">
     			<div class="field">
				  <label class="label">No. of rooms</label>
				  <div class="control">
				    <input class="input" type="text">
				  </div>
				  <p class="help">This is only for reference, your identity will be reported as anonymous</p>
				</div>

				<div class="field is-grouped is-grouped-centered">
	     			<div class="field">
					  <label class="label">No. of lights</label>
					  <div class="control">
					    <input class="input" type="text" name="lights">
					  </div>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="field">
					  <label class="label">No. of fans</label>
					  <div class="control">
					    <input class="input" type="text" name="fans">
					  </div>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="field">
					  <label class="label">No. of TVs</label>
					  <div class="control">
					    <input class="input" type="text" name="TV">
					  </div>
					</div>
				</div>

				<div class="field is-grouped is-grouped-centered">
	     			<div class="field">
					  <label class="label">No. of refrigerators</label>
					  <div class="control">
					    <input class="input" type="text" name="fridge">
					  </div>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="field">
					  <label class="label">Washing machines</label>
					  <div class="control">
					    <input class="input" type="text" name="wash">
					  </div>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="field">
					  <label class="label">No. of ACs</label>
					  <div class="control">
					    <input class="input" type="text" name="AC">
					  </div>
					</div>
				</div>

     		</div>

     		<h1 class="title">Average water consumption</h1>
     		<h2 class="subtitle">(Avg No. of Times a day)</h2>
     		<div class="box">
     			<div class="field is-grouped is-grouped-centered">
	     			<div class="field">
					  <label class="label">Shower</label>
					  <div class="control">
					    <input class="input" type="text" name="shower">
					  </div>
					  <p class="help">Approx. Time Spent in the Shower</p>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="field">
					  <label class="label">Restroom usage </label>
					  <div class="control">
					    <input class="input" type="text" name="rest">
					  </div>
					  <p class="help">How often do you use the restroom?</p>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="field">
					  <label class="label">Face/body wash</label>
					  <div class="control">
					    <input class="input" type="text" name="fresh">
					  </div>
					  <p class="help">How many times do you freshen up?</p>
					</div>
				</div>


				<div class="field is-grouped is-grouped-centered">
	     			<div class="field">
					  <label class="label">Washing dishes</label>
					  <div class="control">
					    <input class="input" type="text" name="washdish">
					  </div>
					  <p class="help">How many times do you wash dishes?</p>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="field">
					  <label class="label">Drinking water</label>
					  <div class="control">
					    <input class="input" type="text" name="drink">
					  </div>
					  <p class="help">Frequency of consuming water</p>
					</div>
				</div>
			</div>

			<h1 class="title">Average Electricity Consumption</h1>
     		<h2 class="subtitle">(average Time spent per appliance in day)</h2>
     		<div class="box">

     			<div class="field is-grouped is-grouped-centered">
	     			<div class="field">
					  <label class="label">Lights</label>
					  <div class="control">
					    <input class="input" type="text" name="lightstime">
					  </div>
					  <p class="help">How long do you keep lights on?</p>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="field">
					  <label class="label">Fans</label>
					  <div class="control">
					    <input class="input" type="text" name="fantime">
					  </div>
					  <p class="help">How long do you use fans?</p>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="field">
					  <label class="label">TV</label>
					  <div class="control">
					    <input class="input" type="text" name="tvtime">
					  </div>
					  <p class="help">How long does the TV run in your home?</p>
					</div>
				</div>

				<div class="field is-grouped is-grouped-centered">
	     			<div class="field">
					  <label class="label">Air Conditioner</label>
					  <div class="control">
					    <input class="input" type="text" name="ACtime">
					  </div>
					  <p class="help">Do you use the AC all the time?</p>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="field">
					  <label class="label">Washing Machine</label>
					  <div class="control">
					    <input class="input" type="text" name="WMtime">
					  </div>
					  <p class="help">How long does your Washing Machine run for usually?</p>
					</div>
				</div>

     		</div>

     		<input type="submit" class="button is-medium is-pulled-right shadow" value="submit" style="background-image:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);"/>

     	</form>

     	</div>
     </div>
   <br><br>

	<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script> 
	<script src="{% static 'typeit.js' %}"></script>
	<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script src="{% static 'particle.js' %}"></script>
	<script>
		$('.typeit').typeIt({
			strings: ["Just fill the details below", "And I'll do the rest of the work :D"],
			breakLines: false,
		});
		window.sr = ScrollReveal({reset: true, viewFactor: 0.05,});
		feather.replace();
		sr.reveal('.typeit');
		$('.typeit2').typeIt();
		particlesJS.load('particles-js', '{% static 'particle.json' %}', function() {
		  console.log('callback - particles.js config loaded');
		});
	</script>

  </body>

</html>