{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SERCA</title>
    <!-- Stylesheet -->
    <link href="{% static 'home.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
    <link href="{% static 'font-awesome.css' %}" rel="stylesheet">
    <script src="https://use.fontawesome.com/31db92fb18.js"></script>
    <style>
      body{
        font-family: "Product Sans";
      }
    </style>
  </head>
  <body>
  	<div id="particles-js"></div>
	<section class="hero is-black is-bold">
		<div class="hero-body">
			<div class="container">
				<a href="/"><i class="chevron" data-feather="home"></i></a>
				<h1 class="title">
					<span class="typeit"></span>
				</h1>
				<h2 class="subtitle">
				codenamed <b>SERCA</b> <i data-feather="cpu"></i>
				</h2>
			</div>
		</div>
	</section>
  <section style="margin:30px">
    <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-light is-bold">
            <p class="title">Electricity Usage <i class="fa fa-bolt" aria-hidden="true"></i></p>
            <p class="subtitle"> Comparison Table </p>
            <table class="table">
              <thead>
                <tr>
                  <th>Appliance</th>
                  <th>User Usage</th>
                  <th>Average Usage</th>
                </tr>
                <tr><td>Lights</td><td>{{ le }} kWh</td><td>0.82 kWh</td></tr>
                <tr><td>Fans</td><td>{{ fe }} kWh</td><td>1.15 kWh</td></tr>
                <tr><td>TVs</td><td>{{ tve }} kWh</td><td>1.12 kWh</td></tr>
                <tr><td>ACs</td><td>{{ ace }} kWh</td><td>2.19 kWh</td></tr>
                <tr><td>Refrigerators</td><td>{{ re }} kWh</td><td>1.8 kWh</td></tr>
              </thead>
            </table>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-light is-bold">
            <p class="title"> Water Consumption  <i class="fa fa-tint" aria-hidden="true"></i></p>

            <p class="subtitle"> Comparison Table </p>
            <br>
             <table class="table">
              <thead>
                <tr>
                  <th>Activity</th>
                  <th>User Usage</th>
                  <th>Average Usage</th>
                </tr>
                <tr><td>Shower</td><td>{{ shower }}</td><td>20</td></tr>
                <tr><td>Restroom Usage</td><td>{{ rest }}</td><td>26</td></tr>
                <tr><td>Face/Body Wash</td><td>{{ fresh }}</td><td>2.5</td></tr>
                <tr><td>Washing Dishes</td><td>{{ washdish }}</td><td>12</td></tr>
                <tr><td>Drinking Water</td><td>{{ drink }}</td><td>1</td></tr>
              </thead>
            </table>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-light is-bold">
          <p class="title"> Optimal Bill(s) <i class="fa fa-money" aria-hidden="true"></i> </p>
          <p class="subtitle"> Want to save money? Use these tips.  </p>
          <div class="content" style='font-size: 18px;'>
            <!-- Content -->
            <p> 
              Your current Electricty Bill: {{ elecbill }} &nbsp; &nbsp; Your current Water Bill: {{ waterbill }} </p>
            <p>Average Electricty Bill: $110.21 &nbsp; &nbsp; Average Water Bill: $40.00 </p>  
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-light is-bold">
        <div class="content">
          <p class="title"> Alternatives <i class="fa fa-hand-peace-o" aria-hidden="true"></i> </p>
          <p class="subtitle"> Follow these to conserve resources and help save the environment! </p>
          <div class="content">
            <!-- Content -->
            <ol style='font-size: 18px;'>
              <li>It would more polite to consider others before wasting all the water.</li><br>
              <li>The more meat we eat, the more animals there are that make the gases that create the greenhouse effect.</li><br>
              <li>Before you throw a wrapper on the road, Think about where the rubbish ends up.</li><br>
              <li>We all agree that riding a bicycle does not produce emissions and is to everyone’s advantage.</li><br>
              <li>Energy-saving light bulbs use only a fifth of the energy conventional ones use.</li><br>
              <li>We can take our shopping bags from home to do the shopping.</li><br>
              <li>If animals can recycle, then so can we.</li>
            </ol>
          </div>
        </div>
      </article>
    </div>
  </div>
  </section>

	<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script> 
	<script src="{% static 'typeit.js' %}"></script>
	<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script src="{% static 'particle.js' %}"></script> 
	<script>
		$('.typeit').typeIt({
			strings: ["Here are your results, {{ name }} :)"],
			breakLines: false,
		});
		window.sr = ScrollReveal({reset: true, viewFactor: 0.05,});
		feather.replace();
		sr.reveal('.typeit');
		$('.typeit2').typeIt();
		particlesJS.load('particles-js', '{% static 'particle.json' %}', function() {
		  console.log('callback - particles.js config loaded');
		});
	</script> 
  </body>
</html>