{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SERCA</title>
    <!-- Stylesheet -->
    <link href="{% static 'home.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
    <link href="{% static 'font-awesome.css' %}" rel="stylesheet">
    <script src="https://use.fontawesome.com/31db92fb18.js"></script>
    <style>
      body{
        font-family: "Product Sans";
      }
    </style>
  </head>
  <body>
  	<div id="particles-js"></div>
	<section class="hero is-black is-bold">
		<div class="hero-body">
			<div class="container">
				<a href="/"><i class="chevron" data-feather="home"></i></a>
				<h1 class="title">
					<span class="typeit"></span>
				</h1>
				<h2 class="subtitle">
				codenamed <b>SERCA</b> <i data-feather="cpu"></i>
				</h2>
			</div>
		</div>
	</section>
  <section style="margin:30px">
    <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-light is-bold">
            <p class="title">Electricity Usage <i class="fa fa-bolt" aria-hidden="true"></i></p>
            <p class="subtitle"> Comparison Table </p>
            
            <table class="table">
              <thead>
                <tr>
                  <th>Appliance</th>
                  <th>User Usage</th>
                  <th>Average Usage</th>
                </tr>
                <tr><td>Lights</td><td>{{ lights }}</td><td>{{ lights }}</td></tr>
                <tr><td>Fans</td><td>{{ fans }}</td><td>{{ lights }}</td></tr>
                <tr><td>TVs</td><td>{{ TV }}</td><td>{{ lights }}</td></tr>
                <tr><td>ACs</td><td>{{ fridge }}</td><td>{{ lights }}</td></tr>
                <tr><td>Refrigerators</td><td>{{ wash }}</td><td>{{ lights }}</td></tr>
              </thead>
            </table>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-light is-bold">
            <p class="title"> Water Consumption  <i class="fa fa-tint" aria-hidden="true"></i></p>

            <p class="subtitle"> Comparison Table </p>
            <br>
             <table class="table">
              <thead>
                <tr>
                  <th>Activity</th>
                  <th>User Usage</th>
                  <th>Average Usage</th>
                </tr>
                <tr><td>Shower</td><td>{{ shower }}</td><td>{{ lights }}</td></tr>
                <tr><td>Restroom Usage</td><td>{{ rest }}</td><td>{{ lights }}</td></tr>
                <tr><td>Face/Body Wash</td><td>{{ fresh }}</td><td>{{ lights }}</td></tr>
                <tr><td>Washing Dishes</td><td>{{ washdish }}</td><td>{{ lights }}</td></tr>
                <tr><td>Drinking Water</td><td>{{ drink }}</td><td>{{ lights }}</td></tr>
              </thead>
            </table>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-light is-bold">
          <p class="title"> Optimal Bill(s) </p>
          <p class="subtitle"> </p>
          <div class="content">
            Want to save money? Use these tips. 
            <center><i class="fa fa-money fa-5x" aria-hidden="true"></i></center>
            <!-- Content -->
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-light is-bold">
        <div class="content">
          <p class="title"> Alternatives</p>
          <p class="subtitle"> Follow these to conserve resources and help save the environment! </p>
          <div class="content">
            <br>
            <center><i class="fa fa-recycle fa-5x" aria-hidden="true"></i></center>
            <!-- Content -->
          </div>
        </div>
      </article>
    </div>
  </div>
  </section>

	<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script> 
	<script src="{% static 'typeit.js' %}"></script>
	<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script src="{% static 'particle.js' %}"></script> 
	<script>
		$('.typeit').typeIt({
			strings: ["Here are your results"],
			breakLines: false,
		});
		window.sr = ScrollReveal({reset: true, viewFactor: 0.05,});
		feather.replace();
		sr.reveal('.typeit');
		$('.typeit2').typeIt();
		particlesJS.load('particles-js', '{% static 'particle.json' %}', function() {
		  console.log('callback - particles.js config loaded');
		});
	</script> 
  </body>
</html>